body {
  background-image: url("./assets/Group4.svg");
  background-repeat: repeat;
}

.reg-box {
  /* border: solid 1px red; */
  margin-top: 250px;
  background-color: white;
  padding: 50px;
  box-shadow: 0 15px 15px -5px;
  text-align: right;
}
.btn {
  margin-right: 200px;
}

.login-box {
  margin-top: 250px;
  background-color: white;
  padding: 50px;
  box-shadow: 0 15px 15px -5px;
  text-align: right;
}
