header {
  background-color: #002c2f;
  height: 250px;
  border: yellow 5px;
  background-image: url("./assets/Group4.svg");
  margin: auto;
  background-repeat: repeat;
}

footer {
  background-color: #002c2f;
  margin-bottom: 0px;

  /* border: 1px yellow solid; */
}

footer p {
  color: #ffffff;
  padding: 20px;
  /* margin: auto; */
}

#stay-connected {
  padding-left: 400px;
  /* border: solid red 1px; */
}

#lowerImgContainer {
  /* border: red solid 1px; */
  padding: 20px;
  padding-top: 50px;
  /* border: 1px solid red; */
}

.wrapper {
  background-image: url("./assets/Group4.svg");
  background-color: #01545a;
  background-repeat: repeat;
  /* border: green 5px solid; */
  /* padding: 15px; */
  height: 365px;
}

ul li a {
  color: #b5a386;
  margin-top: 15px;
  padding-bottom: 10;
}

ul li a:hover {
  color: #ffffff;
}
.rect {
  width: 15%;
  margin: auto;
  margin-bottom: -5px;
}

/* .col-sm-4 p {
  /* border: 1px yellow solid; 
} */

.table {
  /* border: solid black 3px; */
  min-height: fit-content;
  padding: 35px;
  margin-bottom: 500px;
  border-collapse: collapse;
}

.table tbody td {
  border-top: 1px solid #906f3c;
  text-align: center;
  height: 74px;
}

.table th {
  color: #906f3c;
  text-align: center;
}

.table td:nth-child(even) {
  background-color: #906e3c1c;
}

.ads {
  border: #906f3c solid 1px;
  border-radius: 27px;
  margin-top: 75px;
}
.ads h5 {
  text-align: center;
}

.ads p {
  text-align: center;
  color: #002c2f;
}

.title4ads {
  background-color: white;
  /* border: black solid 1px; */
  width: 150px;
  margin: auto;
  margin-top: -10px;
}

#hero {
  box-shadow: 5px 5px 25px black;
  border-radius: 20px;
  margin-top: -120px;
}

#blaque {
  width: 275px;
  height: 170px;
  margin-top: -60px;
}

.logo-wrapper {
  display: flex;
  justify-content: right;
}

.ruler-dates {
  /* border: solid black 2px; */
  text-align: center;
  margin-top: 75px;
  margin-bottom: -25px;
}

.ruler-dates p {
  margin-bottom: -25px;
}

.tawasol {
  display: flex;
  justify-content: space-around;
}

.bio {
  text-align: right;
  margin-top: 50px;
}

.bio p {
  margin-top: 35px;
  border: 1px #906f3c solid;
  padding: 5px;
  padding: 20px 20px 20px 10px;
  margin-bottom: 125px;
}

.bio p {
  border-radius: 25px;
}
