body {
  background-image: url("./assets/Group4.svg");
  background-repeat: repeat;
}

.ads-box {
  /* border: solid 1px red; */
  margin-top: 250px;
  background-color: white;
  padding: 50px;
  box-shadow: 0 15px 15px -5px;
  text-align: right;
}
.btn {
  margin-right: 250px;
}

.vids-box {
  margin-top: 250px;
  background-color: white;
  padding: 50px;
  box-shadow: 0 15px 15px -5px;
  text-align: center;
}

#results {
  text-align: center;
  margin-left: 500px;
  margin-top: 75px;
}

.preview {
  margin-bottom: 100px;
}

td,
tr {
  border: 1px black solid;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

table {
  margin-top: 50px;
}
